.MyCalendarClass input {
    width: 100% !important;
    position: relative !important;;
    height: 30px !important;
    /*border: none !important;*/
    padding: 5px !important;
}

.MySubmitButton input {
    height: 30px !important;
    border: none !important;
}

#searchFields {
    font-size: 14px !important;
    width: 100% !important;
    position: relative !important;
}

.MyDropDown.ui-widget{
    min-width:calc(100% - 23px) !important;
    position: relative !important;;
    /*border: none !important;*/
}

/*#testNameDropDown_items{
    font-size: 10px !important;
    line-height: 0 !important;
    padding: 1px !important;
}*/

.ui-widget .ui-widget {
    font-size: 12px !important;
}

.ui-inputfield {
    width: 100% !important;
    position: relative !important;;
    height: 30px !important;
    /*border: none !important;*/
    padding: 5px !important
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon{
    margin-top: 70% !important;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    overflow: hidden;
    padding: 4px;
}