<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--Connection credentials-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/crazydomains?useSSL=false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Selenium2015DreamTest</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="connection.pool_size">12</property>
<!--        <property name="show_sql">true</property>-->
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!--Entities-->
        <mapping class="db_worker.entities.BrowserEntity"/>
        <mapping class="db_worker.entities.ClazzEntity"/>
        <mapping class="db_worker.entities.EventEntity"/>
        <mapping class="db_worker.entities.GroupEntity"/>
        <mapping class="db_worker.entities.LocaleEntity"/>
        <mapping class="db_worker.entities.PcEntity"/>
        <mapping class="db_worker.entities.SyswebEntity"/>
        <mapping class="db_worker.entities.TestEntity"/>
        <mapping class="db_worker.entities.UserEntity"/>
        <mapping class="db_worker.entities.TestcaseEntity"/>
    </session-factory>
</hibernate-configuration>