<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--Connection credentials-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.61.179:3306/crazydomains</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">user</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!--Entities-->
        <mapping class="hibernate.entities.ClazzEntity"/>
        <mapping class="hibernate.entities.GroupEntity"/>
        <mapping class="hibernate.entities.LocaleEntity"/>
        <mapping class="hibernate.entities.PcEntity"/>
        <mapping class="hibernate.entities.SyswebEntity"/>
        <mapping class="hibernate.entities.TestEntity"/>
        <mapping class="hibernate.entities.EventEntity"/>
        <mapping class="hibernate.entities.BrowserEntity"/>
    </session-factory>
</hibernate-configuration>